[submodule "dotbot"]
	path = dotbot
	url = https://github.com/cumpsd/dotbot
[submodule "ansible/roles/git"]
        path = ansible/roles/git
        url = https://github.com/cumpsd/ansible-role-git
[submodule "ansible/roles/pip"]
        path = ansible/roles/pip
        url = https://github.com/cumpsd/ansible-role-pip
[submodule "ansible/roles/nodejs"]
        path = ansible/roles/nodejs
        url = https://github.com/cumpsd/ansible-role-nodejs
[submodule "ansible/roles/docker"]
        path = ansible/roles/docker
        url = https://github.com/cumpsd/ansible-role-docker
[submodule "ansible/roles/dotnet-core"]
        path = ansible/roles/dotnet-core
        url = https://github.com/cumpsd/ansible-role-dotnet-core
[submodule "ansible/roles/ntp"]
        path = ansible/roles/ntp
        url = https://github.com/cumpsd/ansible-role-ntp
[submodule "ansible/roles/packer"]
        path = ansible/roles/packer
        url = https://github.com/cumpsd/ansible-role-packer
[submodule "ansible/roles/mono"]
	path = ansible/roles/mono
	url = https://github.com/cumpsd/ansible-role-mono
[submodule "ansible/roles/visual-studio-code"]
	path = ansible/roles/visual-studio-code
	url = https://github.com/cumpsd/ansible-role-visual-studio-code
[submodule "ansible/roles/fish"]
	path = ansible/roles/fish
	url = https://github.com/cumpsd/ansible-role-fish
[submodule "fish/oh-my-fish"]
	path = fish/oh-my-fish
	url = https://github.com/cumpsd/oh-my-fish
[submodule "fonts/nerd-fonts"]
	path = fonts/nerd-fonts
	url = https://github.com/cumpsd/nerd-fonts
	branch = v1.2.0
	shallow = true
[submodule "dircolors"]
	path = dircolors
	url = https://github.com/cumpsd/dircolors-solarized
[submodule "ansible/roles/fzf"]
	path = ansible/roles/fzf
	url = https://github.com/cumpsd/ansible-fzf
[submodule "ansible/roles/hub"]
	path = ansible/roles/hub
	url = https://github.com/cumpsd/ansible-role-hub
[submodule "ansible/roles/terraform"]
	path = ansible/roles/terraform
	url = https://github.com/cumpsd/ansible-terraform
[submodule "ansible/roles/golang"]
	path = ansible/roles/golang
	url = https://github.com/cumpsd/ansible-go
