[submodule "dotbot"]
	path = dotbot
	url = https://github.com/cumpsd/dotbot
[submodule "ansible/roles/pip"]
	path = ansible/roles/pip
	url = https://github.com/cumpsd/ansible-pip
[submodule "ansible/roles/docker"]
	path = ansible/roles/docker
	url = https://github.com/cumpsd/ansible-role-docker
[submodule "ansible/roles/dotnet-core"]
	path = ansible/roles/dotnet-core
	url = https://github.com/cumpsd/ansible-role-dotnet-core
