.idea/

proxmark/cards/*.bin

ssh/putty/Jumplist
ssh/putty/Sessions
ssh/putty/SshHostKeys

wm/mpd/
!wm/mpd/mpd.conf

wm/applications/chrome-*.desktop
wm/applications/jetbrains-rider*

wm/fonts/**/.uuid

node_modules/
package-lock.json