[Desktop Entry]
Version=1.0
Name=Reddit
GenericName=Social
Type=Application
Exec=/usr/bin/google-chrome-stable --force-device-scale-factor=1.5 http://reddit.com

