---
- name: Update all packages
  apt: 
    upgrade: dist 
    update_cache: yes
    autoclean: yes
    autoremove: yes

- name: Install basic command-line utilities
  apt:
    name: "{{ item }}"
    state: latest
  with_items:
    - curl
    - gnupg2
    - htop

- name: Install essential build tools
  apt:
    name: "{{ item }}"
    state: latest
  with_items:
    - build-essential
    - intltool 
    - libtool 
    - libsndfile1-dev 
    - libjson-c-dev
