---
- name: Update all packages
  apt:
    upgrade: dist
    update_cache: yes
    autoclean: yes
    autoremove: yes

- name: Install basic command-line utilities
  apt:
    name: "{{ item }}"
    state: latest
  with_items:
    - curl
    - gnupg2
    - htop
    - wget
    - unzip
    - gzip
    - bzip2

- name: Install essential build tools
  apt:
    name: "{{ item }}"
    state: latest
  with_items:
    - build-essential
    - intltool
    - libtool
    - libsndfile1-dev
    - libjson-c-dev
    - ruby
    - ruby-dev
    - rubygems
    - unixodbc-dev
    - mssql-tools

- name: Install Ruby tools
  become: yes
  become_user: "{{ lookup('env','LOGNAME') }}"
  gem:
    name: "{{ item }}"
    state: latest
    user_install: yes
  with_items:
    - fpm
    - deb-s3
