---
- name: Update pacman (pacman -Syu)
  pacman:
    update_cache: yes
    upgrade: yes

- name: Add AUR builder user
  user:
    name: aur_builder
    group: wheel

- name: Allow AUR builder to run pacman
  lineinfile:
    path: /etc/sudoers.d/11-install-aur_builder
    line: 'aur_builder ALL=(ALL) NOPASSWD: /usr/bin/pacman'
    create: yes
    validate: 'visudo -cf %s'

- name: Install basic command-line utilities
  pacman:
    name: [
        'curl',
        'gnupg',
        'htop',
        'wget',
        'unzip',
        'gzip',
        'bzip2',
        'dos2unix',
        'xloadimage']
    state: latest

- name: Install essential build tools
  pacman:
    name: [
        'intltool',
        'libtool',
        'ruby',
        'rubygems',
        'unixodbc',
        'python',
        'python-pip',
        'jdk-openjdk']
    state: latest

- name: Install essential build tools (AUR)
  become: yes
  become_user: aur_builder
  aur:
    name: [
        'json-c ',
        'libsndfile-git']
    aur_only: yes

- name: Install Azure cli package
  become: yes
  become_user: aur_builder
  aur:
    name: [
        'python-azure-cli']
    aur_only: yes

- name: Install mssql-tools package
  become: yes
  become_user: aur_builder
  aur:
    name: [
        'mssql-tools']
    aur_only: yes
  environment:
    ACCEPT_EULA: "y"

- name: Install Ruby tools
  become: yes
  become_user: "{{ lookup('env','LOGNAME') }}"
  gem:
    name: "{{ item }}"
    state: latest
    user_install: yes
  with_items:
    - fpm
    - deb-s3
