---
- name: Install Xorg
  pacman:
    name: [
        'xorg-server']
    state: latest

- name: Install Intel Video Driver
  pacman:
    name: [
        'xf86-video-intel',
        'mesa']
    state: latest

- name: Install SDDM
  pacman:
    name: [
        'sddm']
    state: latest

- name: Enable SDDM SystemD service
  systemd:
    name: sddm
    enabled: yes
    masked: no

- name: Install Aerial theme dependencies for SDDM
  pacman:
    name: [
        'gst-libav',
        'phonon-qt5-gstreamer',
        'gst-plugins-good',
        'qt5-multimedia',
        'qt5-quickcontrols',
        'qt5-graphicaleffects']
    state: latest

- name: Clean Aerial theme folder
  file:
    state: absent
    path: "/usr/share/sddm/themes/aerial-sddm-theme"

- name: Install Aerial theme for SDDM
  become: true
  git:
    repo: https://github.com/CumpsD/aerial-sddm-theme.git
    dest: /usr/share/sddm/themes/aerial-sddm-theme
    version: 42650e20705ea3b3de45df80d39561accc4c7cc2
