---
- name: Install Xorg
  pacman:
    name: [
        'xorg-server',
        'xorg-xrandr',
        'xorg-xrdb']
    state: latest

- name: Install Intel Video Driver
  pacman:
    name: [
        'xf86-video-intel',
        'libvdpau-va-gl',
        'libva-vdpau-driver',
        'intel-media-driver',
        'libva-utils',
        'vdpauinfo',
        'mesa']
    state: latest

- name: Install SDDM
  pacman:
    name: [
        'sddm']
    state: latest

- name: Enable SDDM systemd service
  systemd:
    name: sddm
    enabled: yes
    masked: no

- name: Install Aerial theme dependencies for SDDM
  pacman:
    name: [
        'gst-libav',
        'phonon-qt5-gstreamer',
        'gst-plugins-good',
        'qt5-multimedia',
        'qt5-quickcontrols',
        'qt5-graphicaleffects']
    state: latest

- name: Clean Aerial theme folder
  file:
    state: absent
    path: "/usr/share/sddm/themes/aerial-sddm-theme"

- name: Install Aerial theme for SDDM
  become: true
  git:
    repo: https://github.com/CumpsD/aerial-sddm-theme.git
    dest: /usr/share/sddm/themes/aerial-sddm-theme
    version: 371ff39fd0338ab61e261a27ba3ab17ec22023f8

- name: Install Sound
  pacman:
    name: [
        'pulseaudio',
        'pulseaudio-alsa',
        'alsa-utils',
        'alsa-plugins',
        'alsa-lib',
        'alsa-firmware',
        'mpd',
        'mpc',
        'ncmpcpp',
        'playerctl',
        'gstreamer',
        'gst-plugins-good',
        'gst-plugins-bad',
        'gst-plugins-ugly',
        'gst-plugins-base']
    state: latest

- name: Install Sound (AUR)
  become: yes
  become_user: aur_builder
  aur:
    use: yay
    name: [
        'roonbridge']

- name: Install WM and tools
  pacman:
    name: [
        'bspwm',
        'sxhkd',
        'xdo',
        'wmname',
        'compton',
        'rofi',
        'dunst',
        'rxvt-unicode',
        'urxvt-perls',
        'network-manager-applet',
        'networkmanager-openvpn',
        'thunar',
        'ranger',
        'feh',
        'xsel',
        'xclip',
        'xsettingsd',
        'xorg-xbacklight',
        'xorg-xsetroot',
        'wireless_tools',
        'imagemagick',
        'bc',
        'scrot',
        'viewnior',
        'w3m',
        'pepper-flash',
        'ttf-liberation',
        'code',
        'remmina',
        'freerdp',
        'capitaine-cursors',
        'udiskie',
        'openscad',
        'galculator']
    state: latest

- name: Install WM and tools (AUR)
  become: yes
  become_user: aur_builder
  aur:
    use: yay
    name: [
        'google-chrome',
        'lemonbar-git',
        'i3lock-color',
        'betterlockscreen',
        'msbuild-stable',
        'jetbrains-toolbox',
        'ttf-symbola',
        'polybar',
        'xtitle',
        'btops-git',
        'networkmanager-dmenu-git',
        'rambox-bin',
        'volnoti-brightness-git',
        'glxinfo',
        'pkgtop-git',
        'pingg-git']

# TODO: To enable Do Not Track, visit chrome://settings, scroll down to Advanced and under Privacy and security, check Send a "Do Not Track" request with your browsing traffic.

- name: Install Fonts
  pacman:
    name: [
        'ttf-dejavu',
        'ttf-droid',
        'ttf-roboto',
        'ttf-font-awesome',
        'noto-fonts']
    state: latest

- name: Install Themes
  pacman:
    name: [
        'gtk-engine-murrine',
        'arc-gtk-theme',
        'arc-icon-theme',
        'numix-gtk-theme']
    state: latest

- name: Install Themes (AUR)
  become: yes
  become_user: aur_builder
  aur:
    use: yay
    name: [
        'arc-firefox-theme-git',
        'arc-colors-revival',
        'numix-circle-icon-theme-git',
        'numix-icon-theme-git',
        'luv-icon-theme-git',
        'paper-icon-theme-git']

- name: Install Plymouth (AUR)
  become: yes
  become_user: aur_builder
  aur:
    use: yay
    name: [
        'plymouth',
        'plymouth-theme-arch-charge',
        'plymouth-theme-arch-charge-big']

#- name: Disable SDDM systemd service
#  systemd:
#    name: sddm
#    enabled: no
#    masked: no

#- name: Enable Plymouth SDDM systemd service
#  systemd:
#    name: sddm-plymouth
#    enabled: yes
#    masked: no

