---
- name: Setup new machine
  hosts: local
  become: yes

  tasks:
  - name: Setup basic system
    include_role:
      name: system

  - name: Install Fish and configure default shell
    include_role:
      name: fish
    vars:
      fish_users: ['root', 'cumpsd']

  - name: Install FZF
    include_role:
      name: fzf
    vars:
      fzf_version: '0.18.0'

  - name: Install Git from source
    include_role:
      name: git
    vars:
      git_packages:
      - git

      git_version: '2.22.0'
      git_install_from_source: true
      git_install_path: '/usr'
      git_install_from_source_force_update: true

  - name: Install Hub
    include_role:
      name: hub
    vars:
      hub_version: "2.12.2"

  - name: Install Pip
    include_role:
      name: pip
    vars:
      pip_install_packages:
      - pip
      - awscli
      - thefuck
      - boto
      - virtualfish

  - name: Install Node.js and NPM
    include_role:
      name: nodejs
    vars:
      nodejs_version: '10.x'
      nodejs_npm_global_packages:
      - npm
      - npx
      - yarn
      - eslint

  - name: Install Go
    include_role:
      name: golang
    vars:
      go_tarball: 'go1.12.7.linux-amd64.tar.gz'
      go_tarball_checksum: 'sha256:66d83bfb5a9ede000e33c6579a91a29e6b101829ad41fffb5c5bb6c900e109d9'
      go_version_target: 'go version go1.12.7 linux/amd64'

      go_packages:
      - 'github.com/cumpsd/ccat'

  - name: Install Docker and Docker-compose
    include_role:
      name: docker
    vars:
      docker_edition: 'ce'
      docker_package_state: latest
      docker_apt_release_channel: edge
      docker_service_state: stopped
      docker_service_enabled: no
      docker_restart_handler_state: stopped
      docker_install_compose: True
      docker_compose_version: '1.24.1'
      docker_compose_path: /usr/local/bin/docker-compose
      docker_users: ['cumpsd']

  # - include_role:
  #     name: dotnet-core
  #   vars:
  #     dotnet_package: 'dotnet-sdk-2.1'

  - name: Setup NTP and configure timezone
    include_role:
      name: ntp
    vars:
      ntp_enabled: true
      ntp_timezone: Europe/Brussels

  - name: Install Packer
    include_role:
      name: packer
    vars:
      packer_version: '1.4.2'

  - name: Install Terraform
    include_role:
      name: terraform
    vars:
      terraform_ver : '0.12.4'
      terraform_platform : linux_amd64
      terraform_install_dir : /usr/local/bin
      terraform_checksums:
        '0.12.4':
          linux_amd64: sha256:0231562f26262de233e8e8fac668196af21b7aff355bb04f3ee1606cca239c0a

  - name: Install Mono
    include_role:
      name: mono

  # - name: Install Polybar
  #   include_role:
  #     name: polybar

  # - name: Install VS Code
  #   include_role:
  #     name: visual-studio-code
