---
- name: Setup new machine
  hosts: local
  become: yes

  tasks:
  - name: Setup basic system
    include_role:
      name: system

  - name: Install Fish and configure default shell
    include_role:
      name: fish
    vars:
      fish_users: ['root', 'cumpsd']

  - name: Install FZF
    include_role:
      name: fzf
    vars:
      fzf_version: '0.17.4'

  - name: Install Git from source
    include_role:
      name: git
    vars:
      git_packages:
      - git

      git_version: '2.17.1'
      git_install_from_source: true
      git_install_path: '/usr'
      git_install_from_source_force_update: true

  - name: Install Hub
    include_role:
      name: hub
    vars:
      hub_version: "2.4.0"

  - name: Install Pip
    include_role:
      name: pip
    vars:
      pip_install_packages:
      - pip
      - awscli
      - thefuck
      - boto

  - name: Install Node.js and NPM
    include_role:
      name: nodejs
    vars:
      nodejs_version: '10.x'
      nodejs_npm_global_packages:
      - npm
      - npx
      - yarn

  - name: Install Go
    include_role:
      name: golang
    vars:
      go_tarball: 'go1.10.3.linux-amd64.tar.gz'
      go_tarball_checksum: 'sha256:fa1b0e45d3b647c252f51f5e1204aba049cde4af177ef9f2181f43004f901035'
      go_version_target: 'go version go1.10.3 linux/amd64'

      go_packages:
      - 'github.com/cumpsd/ccat'

  - name: Install Docker and Docker-compose
    include_role:
      name: docker
    vars:
      docker_edition: 'ce'
      docker_package_state: latest
      docker_apt_release_channel: edge
      docker_service_state: stopped
      docker_service_enabled: no
      docker_restart_handler_state: stopped
      docker_install_compose: True
      docker_compose_version: '1.21.2'
      docker_compose_path: /usr/local/bin/docker-compose
      docker_users: ['cumpsd']

  - include_role:
      name: dotnet-core
    vars:
      dotnet_package: 'dotnet-sdk-2.1'

  - name: Setup NTP and configure timezone
    include_role:
      name: ntp
    vars:
      ntp_enabled: true
      ntp_timezone: Europe/Brussels

  - name: Install Packer
    include_role:
      name: packer
    vars:
      packer_version: '1.2.4'

  - name: Install Terraform
    include_role:
      name: terraform
    vars:
      terraform_ver : '0.11.7'
      terraform_platform : linux_amd64
      terraform_install_dir : /usr/local/bin
      terraform_checksums:
        '0.11.7':
          linux_amd64: sha256:6b8ce67647a59b2a3f70199c304abca0ddec0e49fd060944c26f666298e23418

  - name: Install Consul
    include_role:
      name: consul-cli
    vars:
      consul_ver : '1.2.0'
      consul_platform : linux_amd64
      consul_install_dir : /usr/local/bin
      consul_checksums:
        '1.2.0':
          linux_amd64: sha256:85d84ea3f6c68d52549a29b00fd0035f72c2eabff672ae46ca643cb407ef94b4

  - name: Install Nomad
    include_role:
      name: nomad-cli
    vars:
      consul_ver : '0.8.4'
      consul_platform : linux_amd64
      consul_install_dir : /usr/local/bin
      consul_checksums:
        '0.8.4':
          linux_amd64: sha256:42fc455d09ea0085cc79d7be4fb2089a9ab7db3cc2e8047e8437855a81b090e9

  - name: Install Vault
    include_role:
      name: vault-cli
    vars:
      consul_ver : '0.10.3'
      consul_platform : linux_amd64
      consul_install_dir : /usr/local/bin
      consul_checksums:
        '0.10.3':
          linux_amd64: sha256:ffec1c201f819f47581f54c08653a8d17ec0a6699854ebd7f6625babb9e290ed

  - name: Install Mono
    include_role:
      name: mono

  - name: Install Polybar
    include_role:
      name: polybar

  - name: Install VS Code
    include_role:
      name: visual-studio-code
